div(fxLayout="column", fxLayoutAlign="start center")
  h3 Item Templates
  table.mat-elevation-z8(mat-table, [dataSource]="itemTemplates")
    ng-container(matColumnDef="code")
      th(mat-header-cell, *matHeaderCellDef="") Code
      td(mat-cell *matCellDef="let itemTemplate") {{ itemTemplate.code }}
    ng-container(matColumnDef="short_desc")
      th(mat-header-cell, *matHeaderCellDef="") Short desc.
      td(mat-cell, *matCellDef="let itemTemplate") {{ itemTemplate.short_desc }}
    ng-container(matColumnDef="types")
      th(mat-header-cell, *matHeaderCellDef="") Types
      td(mat-cell, *matCellDef="let itemTemplate")
        .label.label-primary.label-btn(*ngIf="itemTemplate.isMelee") Melee
        .label.label-primary.label-btn(*ngIf="itemTemplate.isRanged") Ranged

    tr(mat-header-row, *matHeaderRowDef="displayedColumns")
    tr(mat-row, *matRowDef="let row; columns: displayedColumns;")
