div([formGroup]="meleeStatTemplateFormGroup", fxLayout="column", fxLayoutGap="10px")
  mat-form-field
    mat-label Sheathed description
    input(type="text", matInput, formControlName="sheathed_desc", spellcheck="false")
    mat-hint Single word, e.g. 'longsword'
