nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top(role="navigation")
  .container-fluid
    a.navbar-brand(routerLink="/") Home
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent')
      span.navbar-toggler-icon
    cw-authentication-widget.ml-auto.mr-1
    #navbarSupportedContent.collapse.navbar-collapse.flex-grow-0
      ul.navbar-nav.text-right
        li.nav-item(routerLinkActive="active")
          a.nav-link(routerLink="/players") Players
        li.nav-item(routerLinkActive="active")
          a.nav-link(routerLink="/characters") Characters
        li.nav-item(routerLinkActive="active")
          a.nav-link(routerLink="/item-templates") Item templates
