mat-toolbar(fxLayout="row", fxLayoutAlign="start center", color="primary")
  button(mat-icon-button, (click)="sidebarService.toggle()")
    mat-icon(fontSet="fas", fontIcon="fa-info")
  button(mat-button, routerLink="/", "fxHide.xs")
    | Home
  button(mat-button, routerLink="/players", "fxHide.xs")
    | Players
  button(mat-button, routerLink="/characters", "fxHide.xs")
    | Characters
  button(mat-button, routerLink="/map", "fxHide.xs")
    | Map
  button(mat-button, routerLink="/item-templates", "fxHide.xs")
    | Item templates
  button(mat-icon-button, [matMenuTriggerFor]="sidebarMenu", fxHide, "fxShow.xs")
    mat-icon(fontSet="fas", fontIcon="fa-bars")
  span(fxFlex)
  cw-authentication-widget
  mat-menu(#sidebarMenu="matMenu")
    ng-container
      button(mat-menu-item, routerLink="/") Home
    ng-container
      button(mat-menu-item, routerLink="/players") Players
    ng-container
      button(mat-menu-item, routerLink="/characters") Characters
    ng-container
      button(mat-menu-item, routerLink="/item-templates") Item templates
    ng-container
      button(mat-menu-item, routerLink="/map") Map
