#mapContainer {
  background-color: lightgrey;
}

cw-map-controls {
  position: absolute;
  top: calc(64px + 20px);
  right: 20px;
}

cw-room-controls {
  position: absolute;
  top: calc(64px + 20px + 150px);
  right: 20px;
  width: 350px;
}

cw-door-controls {
  position: absolute;
  top: calc(64px + 20px + 150px);
  right: 20px;
  width: 350px;
}
