.text-1-line {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-greyed {
  color: #909090;
}

.text-valid {
  color: green;
}

.text-warning {
  color: yellow;
}

.text-invalid {
  color: red;
}
