.room-controls(*ngIf="node", fxLayout="column", fxLayoutAlign="start center", fxLayoutGap="20px")
  button(mat-stroked-button, color="primary", (click)="editRoom()", [disabled]="false")
    mat-icon(fontSet="fas", inline="true", fontIcon="fa-edit")
    | &nbsp; Edit
  div(fxLayout="row wrap", fxLayoutAlign="center center", fxLayoutGap="20px grid")
    .add-room-container(*ngFor="let direction of Directions")
      button(mat-stroked-button, color="primary", (click)="addRoom(direction)", [disabled]="!!node.room.adjacentRoomId(direction)")
        mat-icon(fontSet="fas", inline="true", fontIcon="fa-plus")
        | &nbsp; Room North
