.row([@fadeInAnimation]="")
  .col-12.col-md-4
    .card
      .card-header.bg-dark.text-white.text-center.text-1-line
        span.text-1-line(title="{{ character.name }}") {{ character.name }}
      .card-img([style.background-image]="'url(' + (character.image || './assets/images/players/placeholder.png') + ')'")
      .card-body
        .card-text.text-1-line
          i.fas.fa-calendar-plus
          small(title="{{ character.created_at | date:'mediumDate':'GMT' }}") {{ character.created_at | date:'mediumDate':'GMT' }}
  .col-12.col-md-8
    form(#characterForm="ngForm")
      .form-group.row
        .col-sm-2.col-form-label.text-right Name
        .col-sm-10
          input.form-control.form-control-sm([(ngModel)]="character.name", name="name", type="text", required="", spellcheck="false")
      .form-group.row
        .col-2.col-form-label.text-right Short Desc.
        .col-sm-10
          input.form-control.form-control-sm([(ngModel)]="character.short_desc", name="short_desc", type="text", required="", spellcheck="false")
      .form-group.row
        .col-2.col-form-label.text-right Long Desc.
        .col-sm-10
          input.form-control.form-control-sm([(ngModel)]="character.long_desc", name="short_desc", type="text", required="", spellcheck="false")
