.players
  form([formGroup]="playerQueryFormGroup")
    div(fxLayout="row wrap", fxLayoutAlign="start center", fxLayoutGap="25px")
      mat-form-field
        mat-hint Search by nickname or email
        input(type="text", matInput, formControlName="term", [errorStateMatcher]="matcher", spellcheck="false", cwDelayedInput, (delayedInput)="query()")
        mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-user")

      mat-button-toggle-group(formControlName="roles[]", multiple="")
        mat-button-toggle(value="regular",  color="primary")
          mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-user")
          | Regular
        mat-button-toggle(value="admin")
          mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-user-shield")
          | Admin
        mat-button-toggle(value="owner")
          mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-crown")
          | Owner

      mat-button-toggle-group(formControlName="status")
        mat-button-toggle(value="all", color="primary")
          mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-users")
          | All
        mat-button-toggle(value="confirmed", color="primary")
          mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-check")
          | Confirmed
        mat-button-toggle(value="unconfirmed", color="primary")
          mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-question")
          | Unconfirmed
        mat-button-toggle(value="locked", color="primary")
          mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-lock")
          | Locked

  div(fxLayout="column", fxLayoutAlign="space-evenly center")
    .alert.alert-info(*ngIf="!loading && !players.length") No players found matching your criteria
    i.fas.fa-10x.fa-cog.fa-spin(*ngIf="loading")

  div(fxLayout="row wrap", fxLayoutAlign="start center", fxLayoutGap="15px grid")
    div(fxFlex.lt-sm="50%", fxFlex.lt-md="33%", fxFlex.lt-lg="25%", fxFlex.lt-xl="20%", *ngFor="let player of players")
      cw-player-card([player]="player")
