.text-center(*ngIf="loading")
  .i.fas.fa-10x.fa-cog.fa-spin

mat-sidenav-container.sidebar-container([hasBackdrop]="true", *ngIf="!loading")
  mat-sidenav.p-3(#sidebar="", mode="over")
    cw-system
  mat-sidenav-content
    .container-fluid.pt-4.pb-5
      .row
        .col-md-12
          cw-header
      router-outlet
