.p-3([formGroup]="attributeSetFormGroupTypecast", fxLayout="row wrap", fxLayoutAlign="start start", fxLayoutGap="45px 40px grid")
  div(fxLayout="column", *ngFor="let attribute_name of constantsService.constants.attributes.list")
    mat-label.pl-2(fxLayout="row", fxLayoutAlign="space-between")
      span {{ attributeSetService.name[attribute_name] }}
      span([matBadge]="characterFormGroup.value.attribute_set[attribute_name]")
    mat-slider.pl-0(color="primary", [max]="100", [min]="1", [step]="1", [thumbLabel]="true", [tickInterval]="10", [formControlName]="attribute_name")
    mat-label.pl-2(fxLayout="row", fxLayoutAlign="space-between")
      em {{ attributeSetService.label(characterFormGroup.value.attribute_set[attribute_name]) }}
      span(matBadgeColor="accent", [matBadge]="attributeSetService.bonus(characterFormGroup.value.attribute_set[attribute_name]) | sign")
