form(fxLayout="column", fxLayoutAlign="start center", fxLayoutGap="30px grid", [formGroup]="passwordResetFormGroup", (ngSubmit)="onPasswordReset()")
  mat-form-field
    mat-label Password
    input(type="password", matInput, formControlName="password", [errorStateMatcher]="matcher")
    mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-lock")
    mat-error(*ngIf="passwordResetFormGroup.controls.password.hasError('required')")
      | This field is required
    mat-error(*ngIf="!passwordResetFormGroup.controls.password.hasError('required') && passwordResetFormGroup.controls.password.hasError('minlength')")
      | Your password needs to be at least 6 characters long
  mat-form-field
    mat-label Password confirmation
    input(type="password", matInput, formControlName="passwordConfirmation", [errorStateMatcher]="matcher")
    mat-icon(matSuffix="", fontSet="fas", fontIcon="fa-lock")
    mat-error(*ngIf="passwordResetFormGroup.controls.passwordConfirmation.hasError('required')")
      | This field is required
    mat-error(*ngIf="!passwordResetFormGroup.controls.passwordConfirmation.hasError('required') && passwordResetFormGroup.controls.passwordConfirmation.hasError('fieldsMismatched')")
      | Passwords are mismatched
  .mt-2(*ngIf="state.errors")
    .alert.danger(*ngFor="let error of state.errors") {{ error }}
  .mt-2(*ngIf="state.success")
    .alert.info Your password has been changed. Try signin in again.
  div(fxLayout="row")
    button(type="submit", mat-raised-button="", color="primary", [disabled]="passwordResetFormGroup.invalid || state.loading")
      span(*ngIf="!state.loading") Reset password
      span(*ngIf="state.loading")
        i.fas.fa-cog.fa-spin
