.row
  .col-12.col-md-6.col-lg-4.offset-md-3.offset-lg-4
    h3 Reset your password
    form.form(#passwordResetForm="ngForm", (ngSubmit)="onResetPassword(passwordResetForm)", *ngIf="!state.success")
      .form-group
        input.form-control.form-control-sm(ngModel="", name="password", placeholder="Password", type="password", required="")
      .form-group
        input.form-control.form-control-sm(ngModel="", name="passwordConfirmation", placeholder="Password confirmation", type="password", required="")
      .form-group
        button.btn.btn-sm.btn-outline-primary.btn-block(type="submit", [disabled]="passwordResetForm.invalid || state.loading")
          span(*ngIf="!state.loading") Reset password
          span(*ngIf="state.loading")
            i.fas.fa-cog.fa-spin
    div(*ngIf="state.errors")
      .alert.alert-danger.text-center(*ngFor="let error of state.errors") {{ error }}
    .alert.alert-primary.text-center(*ngIf="state.success") Your password has been reset
