.card([@fadeInAnimation]="")
  .card-header.bg-dark.text-white
    .float-left
      i.fas.fa-question.unconfirmed.text-invalid(*ngIf="!player.confirmed", ngbTooltip="Unconfirmed account")
      i.fas.fa-check.confirmed.text-valid(*ngIf="player.confirmed", ngbTooltip="Confirmed account")
      i.fas.fa-locked.locked-access.text-invalid(*ngIf="player.access_locked", ngbTooltip="Locked account")
    .float-left
      i.fas.fa-user(*ngIf="player.roleIs.regular()", ngbTooltip="Regular player")
      i.fas.fa-user-shield.admin(*ngIf="player.roleIs.admin()", ngbTooltip="Admin")
      i.fas.fa-crown.owner(*ngIf="player.roleIs.owner()", ngbTooltip="Owner")
    span.text-1-line(title="{{ player.nickname }}") {{ player.nickname }}
  .card-img([style.background-image]="'url(' + (player.image || './assets/images/players/placeholder.png') + ')'")
  .card-body
    .card-text.text-1-line
      i.fas.fa-calendar-plus
      small(title="{{ player.created_at | date:'mediumDate':'GMT' }}") {{ player.created_at | date:'mediumDate':'GMT' }}
    .card-text.text-1-line
      i.fas.fa-envelope
      small
        a(title="{{ player.email }}", href="mailto:{{ player.email }}") {{ player.email}}
  ul.list-group.list-group-flush
    li.list-group-item.text-center(*ngIf="!player.current_character")
      small.font-italic(*ngIf="!player.current_character") No active character
    li.btn.list-group-item.d-flex.justify-content-between.w-100.bg-dark.text-white(*ngIf="player.current_character", [routerLink]="['/characters', player.current_character.id]")
      small.text-1-line {{ player.current_character.name }}
      small
        i.fas.fa-arrow-alt-circle-right
