div(fxLayout="column", fxLayoutAlign="start center")
  .alert.danger(*ngIf="!accountConfirmationSuccess") Something went wrong with the account confirmation.
  .alert.info(*ngIf="accountConfirmationSuccess") Your account in ChatoMud has been confirmed - sign in in the top right corner.
