.cw-system(*ngIf="systemInfo")
  div(fxLayout="row wrap", fxLayoutAlign="flex start", fxLayoutGap="15px grid")
    div(fxFlex="50%")
      mat-card.mat-elevation-z5
        mat-card-header(fxLayoutAlign="center")
          mat-card-subtitle Ruby Version
        mat-card-content(fxLayoutAlign="center")
          em {{ systemInfo.ruby_version }}

    div(fxFlex="50%")
      mat-card.mat-elevation-z5
        mat-card-header(fxLayoutAlign="center")
          mat-card-subtitle Rails Version
        mat-card-content(fxLayoutAlign="center")
          em {{ systemInfo.rails_version }}

    div(fxFlex="100%")
      mat-card.mat-elevation-z5
        mat-card-header(fxLayoutAlign="center")
          mat-card-subtitle GIT revision
        mat-card-content(fxLayoutAlign="center")
          em.text-1-line {{ systemInfo.git_revision }}

    div(fxFlex="100%")
      mat-card.mat-elevation-z5
        mat-card-header
          mat-card-subtitle {{ systemInfo.time_string }}
